.rodape {
    position: absolute;
    display: table;
    bottom: -140px;
    width: 100%;
    height: 140px;
    background-color: #1d1d1d;
}

.rodape div {
    display: table-cell;
    vertical-align: middle;
}

.rodape h6 {
    color: #fff
}

.rodape p {
    color: #999;
    font-size: 14px;
    line-height: 0.5mm
}

.rodape .fa-heart {
    color: red
}

#link-criadores:link, #link-criadores:visited, #link-criadores:active {
    color: #999;
}

#link-criadores:hover {
    color: #999;
    text-decoration: underline
}