<div class="container-fluid fundo-container">
    <div class="container">
        <div class="row padding-tela-login">
            <div class="col-md-4">
                <h2>
                    <strong>Login</strong>
                </h2>
                <h4> Bem-vindo ao seu
                    <em>login</em>. </h4>
                <form #frm="ngForm" (ngSubmit)="logar(frm)">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12">
                            <input type="text" pInputText name="email" placeholder="E-mail" ngModel [required]="true">
                        </div>
                        <div class="ui-g-12">
                            <input type="password" pInputText name="senha" placeholder="Senha" ngModel [required]="true">
                        </div>
                        <div class="centralizado">
                            <a href="#">Esqueceu sua senha?</a>
                        </div>
                        <div class="ui-g-12">
                            <button pButton type="submit" class="btn-formulario-login" label="Entrar" [disabled]="frm.invalid"></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <h2>
                    <strong>Cadastre-se</strong>
                </h2>
                <h4> É fácil, rápido e de graça. </h4>
                <form #forme="ngForm" (ngSubmit)="cadastrar(forme)">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-fluid">
                            <input type="text" pInputText name="nome" placeholder="Nome completo" ngModel [required]="true">
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <p-inputMask type="text" name="cpf" placeholder="CPF" mask="999.999.999-99" ngModel [required]="true"></p-inputMask>
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <input type="text" pInputText name="email" placeholder="E-mail" ngModel [required]="true">
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <input type="password" pInputText name="senha" placeholder="Senha" ngModel [required]="true">
                        </div>
                        <div class="ui-g-12 ui-fluid">
                            <input type="file" pInputText name="foto" ngModel>
                        </div>
                        <small class="form-text text-muted pull-lefht">
                            <i class="fa fa-exclamation-triangle"></i> Nós nunca vamos compartilhar suas informações com ninguém!</small>
                        <div class="ui-g-12">
                            <button pButton type="submit" class="btn-formulario-login pull-right" label="Entrar" [disabled]="forme.invalid"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>