.fundo-container {
    padding: 150px 0px 150px 0px;
    background-image: url('../../assets/img/fundo-login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    color: #fff
}

.fundo-container h2 {
    padding-top: 30px
}

.fundo-container form {
    margin-top: 30px;
}

.fundo-container a {
    text-align: center
}

.fundo-container hr {
    border-color: #fff
}

/** RETIRA O FOCO DOS INPUTS HTML **/

/**input[type="text"], textarea, input[type="password"], input[type="email"] {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}**/

/** TROCA A FOR DO FOCO DOS INPUTS HTML **/

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(62, 195, 145, 1) !important;
    box-shadow: 0 0 0 0.2rem rgba(62, 195, 145, .43) !important;
    outline: 0 none !important
}

.text-muted {
    color: #fff !important;
}

.btn-form:hover {
    background-color: #3ec391;
    border-color: #3ec391;
    color: #000;
    transition-duration: 0.2s
}