<div class="container-fluid fundo-container">
    <div class="container">
        <div class="row padding-tela-login">
            <div class="col-md-4">
                <h2>
                    <strong>Login</strong>
                </h2>
                <h4> Bem-vindo ao seu
                    <em>login</em>.
                </h4>
                <form method="POST" (ngSubmit)="logar()" [formGroup]="formulariologar">
                    <div class="form-group">                     
                        <input type="text" class="form-control entrada" placeholder="E-mail" formControlName="email" />
                    </div>
                    <div class="form-group">                        
                        <input type="password" class="form-control entrada" placeholder="Senha" formControlName="senha" />
                        <span *ngIf="formulariologar.get('senha').invalid && (formulariologar.get('senha').dirty ||
                        formulariologar.get('senha').touched)" class="alerta">
                            <strong>Atenção!</strong> A senha é obrigatória.
                        </span>
                    </div>
                    <button type="submit" class="btn btn-formularios btn-sm btn-block entrada" [disabled]="formulariologar.invalid">Entrar</button>
                    <small class="form-text text-muted pull-right">
                        <a href="#">
                            <i class="fa fa-lock"></i> Esqueceu sua senha?</a>
                    </small>
                </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <h2>
                    <strong>Cadastre-se</strong>
                </h2>
                <h4> É fácil, rápido e de graça. </h4>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nome completo">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="CPF">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="E-mail">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Senha">
                    </div>
                    <div class="form-group">
                        <input type="file" class="form-control" placeholder="Adicione uma foto">
                    </div>
                    <small class="form-text text-muted pull-lefht">
                        <i class="fa fa-exclamation-triangle"></i> Nós nunca vamos compartilhar suas informações com ninguém!</small>
                    <button type="submit" class="btn btn-formularios btn-sm pull-right">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>