<div class="my-3 my-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form class="card" #form="ngForm" (ngSubmit)="register(evento.id)" novalidate>
          <div class="card-header">
            <h3 class="card-title">Cadastro de convidado no evento: <strong>{{ evento.titulo }}</strong></h3>
          </div>
          <div class="card-body">
            <div [ngClass]="classCss" role="alert" *ngIf="message">
              <strong>{{ message.text }}</strong>
            </div>
            <div class="form-group col-md-12">
              <label for="inputNome">Nome completo do convidado
                <span class="form-required">*</span>
              </label>
              <input type="text" class="form-control" id="inputNome" name="nome" [(ngModel)]="convidado.nome" #nome="ngModel" placeholder="Nome Completo"
                required />
              <span class="help-block" *ngIf="nome.invalid && nome.dirty">Nome completo is required</span>
            </div>
            <div class="form-group col-md-12">
              <label for="inputRg">RG
                <span class="form-required">*</span>
              </label>
              <input type="text" class="form-control" id="inputRg" name="rg" [(ngModel)]="convidado.rg" #rg="ngModel" data-mask="0000000000"
                data-mask-clearifnotmatch="true" placeholder="0000000000" />
              <span class="help-block" *ngIf="rg.invalid && rg.dirty">RG is required</span>
            </div>
            <div class="card-footer text-right">
              <div class="d-flex">
                <a href="" class="btn btn-link">Cancel (Limpar)</a>
                <button type="submit" class="btn btn-primary ml-auto" [disabled]="!form.valid">Cadastrar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>