/* You can add global styles to this file, and also import other style files */

html {
    position: relative;
    min-height: 100%;
}

a:link, a:visited, a:active {
    color: #fff
}

a:hover {
    color: #3ec391;
    text-decoration: none;
    transition-duration: 1s
}